/** @format */

.funActivitiesClass {
  width: 100%;
  overflow-x: scroll;
}

.funActivitiesHeading {
  display: flex;
  justify-content: center;
  margin-top: -0.5em;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.activitiesBlockClass {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.individualActClass {
  margin: 1em;
  margin-top: -1em;
}
