* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .accordion {
    max-width: 600px;
    width: 360px;
    margin: 1rem auto;
  }
  
  .accordion-title {
    /* font-size: large; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fbe8a6;
  }
  
  .accordion-title:hover {
    background-color: #b4dfe5;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: #d2fdff ;
  }

  .heading{
    text-align: left;
    color: #46129a;
    /* background-color: #ebf46c; */
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }