/** @format */

.section {
  background-color: #f4976c;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  background-size: 100%;
}
.accordion {
  width: 100%;
  margin: 0.2rem auto;
  background-size: 100%;
}
.accordion-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  font-size: large;
  background-color: #fbe8a6;
  direction: ltr;
}
.accordion-title:hover {
  background-color: lightgoldenrodyellow;
}
.accordion-title,
.accordion-content {
  padding: 0.5rem;
}
.accordion-content {
  background-color: lightyellow;
  direction: ltr;
}
.heading {
  font-size: large;
  text-align: center;
  color: black;
  direction: ltr;
  width: 100%;
  background-size: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .section {
    font-size: 18px;
  }
  .accordion {
    width: 100%;
    overflow-y: scroll;
    direction: rtl;
  }
  .accordion-title {
    font-size: medium;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fbe8a6;
    direction: ltr;
  }
}
