/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  } */
  
  .section {
    background-color: #f4976c;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    direction: rtl;
    /* overflow-y: hidden; */
  }
  
  .accordion {
    max-width: 600px;
    width: 345px;
    margin: 0.2rem auto;
    
  }
  
  .accordion-title {
    /* font-size: large; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fbe8a6;
    direction: ltr;
  }
  
  .accordion-title:hover {
    background-color: lightgoldenrodyellow;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 0.5rem;
  }
  
  .accordion-content {
    background-color: lightyellow ;
    direction: ltr;
  }

  .heading{
    text-align: center;
    color: black;
    direction: ltr;
  }
  
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }

    @media (min-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
      }
    
      /* body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        background: rgb(238, 174, 202);
        background: radial-gradient(
          circle,
          rgba(238, 174, 202, 1) 0%,
          rgba(199, 233, 148, 1) 100%
        );
      } */
    
      .accordion {
        max-width: 600px;
        width: 800px;
        margin: 1rem auto;
      }
    
      .accordion-title {
        /* font-size: large; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        background-color: aquamarine;
      }
    
      .accordion-title:hover {
        background-color: #3ab4cc;
      }
    
      .accordion-title,
      .accordion-content {
        padding: 1rem;
      }
    
      .accordion-content {
        background-color: rgb(253, 154, 169);
      }
    
      .heading {
        text-align: center;
        color: #46129a;
      }
    
      @media screen and (max-width: 700px) {
        body {
          font-size: 18px;
        }
    
        .accordion {
          width: 90%;
        }
      }
  }