/** @format */

.newsSpan {
  position: relative;
  display: block;
  text-align: left;
  font-size: small;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.newsClass {
  background-color: mintcream;
  overflow-y: scroll;
  width: 100%;
}

.latestNewsClass {
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  margin-top: -0.05em;
}

.newsDetailsClass {
  color: lightseagreen;
}
