.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
}

.App h1 {
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 12px
}

.form input[type="text"] {
    padding: 10px;
    width: 65%;
    border: 1px solid #eee;
    border-radius: 6px;
}

.form input[type="text"]:focus,
.form button[type="submit"]:focus {
    outline: none;
}

.form button[type="submit"] {
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer
}

.todo-listItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
}

.item-content {
    width: 60%
}

.todo-item button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px
}

.todo-item button:focus {
    outline: none
}

.update-item {
    background-color: goldenrod;
    color: #fff;
}

.delete-item {
    background-color: red;
    color: #fff;
}

.update-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.update-new-input {
    width: 80%;
    border-radius: 6px;
    border: 1px solid #eee;
    padding: 8px;
    outline: none;
}

.update-new-btn {
    background-color: darkorchid;
    color: #fff;
    cursor: pointer;
}
.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}
.modal {
    font-size: 12px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal>.content {
    width: 100%;
    padding: 10px 5px;
    max-height: 100vh;
    overflow-y: auto
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}