/** @format */

.exerciseImageClass {
  display: inline-block;
  align-self: center;
  margin-top: 2em;
  width: 100%;
}

.exerciseTextClass {
  font-size: medium;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: inline-block;
  align-self: center;
  margin-top: -1.5em;
}

.mainExerciseClass {
  width: 100%;
}

.exerciseButtonClass {
  background-color: aquamarine;
  border-radius: 1em;
  margin-right: 1em;
  margin-top: -1em;
  width: 5em;
}

.exerciseChangeClass {
  display: inline-block;
  align-self: center;
  margin: 2em;
}
