/** @format */

.thoughtClass {
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  display: inline-block;
  align-self: center;
}

.thoughtImageClass {
  background-size: 100%;
  display: flex;
}

.newsSpan {
  position: relative;
  display: block;
  text-align: left;
}

.newsClass {
  background-color: antiquewhite;
  overflow-y: scroll;
  width: 100%;
}

.latestNewsClass {
  font-size: larger;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: darksalmon;
}
